{% extends "frontend/base.html" %}

{% load frontend_extras %}
{% load crispy_forms_tags %}
{% load capture_tags %}

{% block title %}progress{% endblock %}

{% block header %}

<h1>Tournament Progress</h1>
{% if tournament.state == 'finished' %}
<h2><small class="text-muted">Finished</small></h2>
{% endif %}

{% endblock %}

{% block content %}

<div class="row align-items-start">

    <div class="col-4">

        {% include "frontend/tournament-details.html" with tournament=tournament buttons="none" %}

    </div>
    <div class="col-8">

        {% for stage in tournament.stages.all %}

            {% if forloop.counter < current_stage %}

                <h2><a data-toggle="collapse" href="#stage-{{ forloop.counter }}" role="button" class="text-dark">{{ stage | stage_name:forloop.counter }}</a></h2>

            {% endif %}

            {% if forloop.counter == current_stage %}

                <h2>{{ stage | stage_name:forloop.counter }} <small class="text-muted">Current Stage</small></h2>

            {% endif %}

            {% if forloop.counter <= current_stage %}

                {% with stage_info=stages|get_item:stage.id %}

                    <!-- Begin Stage -->

                    <div class="collapse {% if forloop.counter == current_stage %}show{% endif %}" id="stage-{{ forloop.counter }}">

                        <div class="{% if forloop.counter < current_stage %}border rounded mb-3{% else %}mb-4{% endif %}">
                        {% for level in stage_info.levels %}

                            <div class="p-2 {% if not forloop.last %} mb-2 {% endif %} {% if forloop.counter == stage.current_level|add:1 %}border rounded{% elif forloop.parentloop.counter == current_stage %}text-muted{% endif %}">

                                {% if stage_info.levels|length > 1 %}
                                    <p class="lead">
                                        Matchday {{ forloop.counter }}{% if level.name %}: <strong>{{ level.name }}</strong>{% endif %}
                                    </p>
                                {% endif %}

                                {% for fixture in level.fixtures %}

                                    <!-- Begin Fixture -->

                                    <form method="post" action="" class="fixture-{{ fixture.data.id }}">

                                        <input type="hidden" name="fixture_id" value="{{ fixture.data.id }}">
                                        {% csrf_token %}
                                        <div class="row bg-light rounded-top py-2 mx-0 {% if stage_info.levels|length > 1 %}mt-2{% endif %} {% if not fixture.editable %}rounded-bottom{% endif %}">

                                            <div class="col-4 text-left">
                                                <strong><i class="bi bi-person"></i> {{ fixture.data.player1 }}</strong>
                                            </div>
                                            <div class="col-1 text-center" style="padding: 0;">
                                                {% if fixture.editable and not fixture.has_confirmed %}
                                                    <input name="score1" value="{{ fixture.data.score1 | default_if_none:"" }}" class="text-center bg-white" style="width: 100%; border: 0; background: none;" oninput="update_fixture(this)">
                                                    <input name="score1-original" type="hidden" value="{{ fixture.data.score1 | default_if_none:"" }}" >
                                                {% else %}
                                                    {{ fixture.data.score1 | default_if_none:"&ndash;" }}
                                                {% endif %}
                                            </div>
                                            <div class="col-2 text-center">:</div>
                                            <div class="col-1 text-center" style="padding: 0;">
                                                {% if fixture.editable and not fixture.has_confirmed %}
                                                    <input name="score2" value="{{ fixture.data.score2 | default_if_none:"" }}" class="text-center bg-white" style="width: 100%; border: 0; background: none;" oninput="update_fixture(this)">
                                                    <input name="score2-original" type="hidden" value="{{ fixture.data.score2 | default_if_none:"" }}" >
                                                {% else %}
                                                    {{ fixture.data.score2 | default_if_none:"&ndash;" }}
                                                {% endif %}
                                            </div>
                                            <div class="col-4 text-right">
                                                <strong><i class="bi bi-person"></i> {{ fixture.data.player2 }}</strong>
                                            </div>

                                        </div>
                                        {% if fixture.editable %}
                                            <div class="row bg-light rounded-bottom mx-0 py-2 border-top">
                                                <div class="col-12 text-right">
                                                    {% if fixture.data.score1 == None or fixture.data.score2 == None %}
                                                        <button class="btn btn-sm btn-outline-success"><i class="bi bi-check-lg"></i> Submit</button>
                                                    {% else %}
                                                        <small>Confirmations: {{ fixture.data.confirmations.count }} / {{ fixture.data.required_confirmations_count }}</small>
                                                        {% if not fixture.has_confirmed %}
                                                            <button class="btn btn-sm btn-outline-success btn-confirm"><i class="bi bi-check-lg"></i> Confirm</button>
                                                            <button class="btn btn-sm btn-outline-danger btn-rebuttal" style="display: none;">Rebuttal</button>
                                                        {% else %}
                                                            <small class="text-success ml-2"><i class="bi bi-patch-check-fill"></i> You have confirmed.</small>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                    </form>

                                    <!-- End Fixture -->

                                {% endfor %}

                            </div>

                        {% endfor %}
                        </div>
                        {% with stage_type=stage|get_type %}

                            {% if stage_type == 'Groups' and stage.participants|length > 2 %}

                                <div class="p-2 mb-3 border rounded"> 
                                {% for standings in stage.standings %}

                                    {% if stage.standings|length > 1 %}
                                        <p class="lead">Group {{ forloop.counter|group_letter:1 }}</p>
                                    {% endif %}

                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th scope="col">Position</th>
                                                <th scope="col">Attendee</th>
                                                <th scope="col">Matches</th>
                                                <th scope="col">Wins</th>
                                                <th scope="col">Losses</th>
                                                <th scope="col">Ties</th>
                                                <th scope="col">Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in standings %}

                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ row.participant }}</td>
                                                <td>{{ row.matches }}</td>
                                                <td>{{ row.win_count }}</td>
                                                <td>{{ row.loss_count }}</td>
                                                <td>{{ row.draw_count }}</td>
                                                <td>{{ row.points }}</td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>

                                    </table>

                                {% endfor %}
                                </div>

                            {% endif %}

                        {% endwith %}

                    </div>

                    <!-- End Stage -->

                {% endwith %}

                {% if forloop.counter < current_stage %}

                    <hr>

                {% endif %}

            {% endif %}

        {% endfor %}

        {% if tournament.state == 'finished' %}

            <h2>Podium</h2>

            {% for participator in tournament.podium %}

                <div>

                    {% if forloop.counter == 1 %}
                        <p class="lead mb-0 podium-1"><i class="bi bi-1-circle-fill"></i> Gold</p>
                    {% elif forloop.counter == 2 %}
                        <p class="lead mb-0 podium-2"><i class="bi bi-2-circle-fill"></i> Silver</p>
                    {% elif forloop.counter == 3 %}
                        <p class="lead mb-0 podium-3"><i class="bi bi-3-circle-fill"></i> Bronze</p>
                    {% else %}
                        <p class="lead mb-0">Place {{ forloop.counter }}</p>
                    {% endif %}

                    <p class="pl-4"><i class="bi bi-person"></i> {{ participator }}</p>

                    {% if forloop.counter == 3 and not forloop.last %}
                    <p>&nbsp;</p>
                    {% endif %}

                </div>

            {% endfor %}

        {% endif %}

    </div>

</div>

{% endblock %}

{% block javascript %}

function update_fixture(input) {
    const form = $(input).parents('form');
    const score1 = form.find('input[name="score1"]').val();
    const score2 = form.find('input[name="score2"]').val();
    const score1_original = form.find('input[name="score1-original"]').val();
    const score2_original = form.find('input[name="score2-original"]').val();
    if(score1 == score1_original && score2 == score2_original) {
        form.find('.btn-confirm').show();
        form.find('.btn-rebuttal').hide();
    } else {
        form.find('.btn-confirm').hide();
        form.find('.btn-rebuttal').show();
    }
}

{% endblock %}
