{% extends "frontend/base.html" %}

{% load frontend_extras %}
{% load crispy_forms_tags %}
{% load capture_tags %}

{% block title %}progress{% endblock %}

{% block header %}

<h1>Tournament Progress</h1>

{% endblock %}

{% block content %}

<div class="row align-items-start">

    <div class="col-4">

        {% include "frontend/tournament-details.html" with tournament=tournament buttons="none" %}

    </div>
    <div class="col-8">

        {% for stage in tournament.stages.all %}

            {% if forloop.counter < current_stage %}

                <h2>{{ stage | stage_name:forloop.counter }}</h2>

            {% endif %}

            {% if forloop.counter == current_stage %}

                <h2>{{ stage | stage_name:forloop.counter }} <small class="text-muted">Current Stage</small></h2>

            {% endif %}

            {% if forloop.counter <= current_stage %}

                {% with stage_info=stages|get_item:stage.id %}

                    {% for level in stage_info.levels %}

                        <div class="p-2 mb-3 {% if forloop.counter == stage.current_level|add:1 %}border rounded{% else %}text-muted{% endif %}">

                            <p class="lead">
                                Matchday {{ forloop.counter }}
                            </p>

                            {% for fixture in level %}

                                <form method="post" action="" class="fixture-{{ fixture.data.id }}">

                                    <input type="hidden" name="fixture_id" value="{{ fixture.data.id }}">
                                    {% csrf_token %}
                                    <div class="row bg-light rounded-top mx-0 mt-2 py-2 {% if not fixture.editable %}rounded-bottom{% endif %}">

                                        <div class="col-4 text-left">
                                            <strong><i class="bi bi-person"></i> {{ fixture.data.player1 }}</strong>
                                        </div>
                                        <div class="col-1 text-center" style="padding: 0;">
                                            {% if fixture.editable and not fixture.has_confirmed %}
                                                <input name="score1" value="{{ fixture.data.score1 | default_if_none:"" }}" class="text-center bg-white" style="width: 100%; border: 0; background: none;" oninput="update_fixture(this)">
                                                <input name="score1-original" type="hidden" value="{{ fixture.data.score1 | default_if_none:"" }}" >
                                            {% else %}
                                                {{ fixture.data.score1 | default_if_none:"&ndash;" }}
                                            {% endif %}
                                        </div>
                                        <div class="col-2 text-center">:</div>
                                        <div class="col-1 text-center" style="padding: 0;">
                                            {% if fixture.editable and not fixture.has_confirmed %}
                                                <input name="score2" value="{{ fixture.data.score2 | default_if_none:"" }}" class="text-center bg-white" style="width: 100%; border: 0; background: none;" oninput="update_fixture(this)">
                                                <input name="score2-original" type="hidden" value="{{ fixture.data.score2 | default_if_none:"" }}" >
                                            {% else %}
                                                {{ fixture.data.score2 | default_if_none:"&ndash;" }}
                                            {% endif %}
                                        </div>
                                        <div class="col-4 text-right">
                                            <strong><i class="bi bi-person"></i> {{ fixture.data.player2 }}</strong>
                                        </div>

                                    </div>
                                    {% if fixture.editable %}
                                        <div class="row bg-light rounded-bottom mx-0 py-2 border-top">
                                            <div class="col-12 text-right">
                                                {% if fixture.data.score1 == None or fixture.data.score2 == None %}
                                                    <button class="btn btn-sm btn-outline-success"><i class="bi bi-check-lg"></i> Submit</button>
                                                {% else %}
                                                    <small>Confirmations: {{ fixture.data.confirmations.count }} / {{ fixture.data.required_confirmations_count }}</small>
                                                    {% if not fixture.has_confirmed %}
                                                        <button class="btn btn-sm btn-outline-success btn-confirm"><i class="bi bi-check-lg"></i> Confirm</button>
                                                        <button class="btn btn-sm btn-outline-danger btn-rebuttal" style="display: none;">Rebuttal</button>
                                                    {% else %}
                                                        <small class="text-success ml-2"><i class="bi bi-patch-check-fill"></i> You have confirmed.</small>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                </form>

                            {% endfor %}

                        </div>

                    {% endfor %}

                {% endwith %}

                {% if forloop.counter < forloop.last %}

                    <hr>

                {% endif %}

            {% endif %}

        {% endfor %}

    </div>

</div>

{% endblock %}

{% block javascript %}

function update_fixture(input) {
    const form = $(input).parents('form');
    const score1 = form.find('input[name="score1"]').val();
    const score2 = form.find('input[name="score2"]').val();
    const score1_original = form.find('input[name="score1-original"]').val();
    const score2_original = form.find('input[name="score2-original"]').val();
    if(score1 == score1_original && score2 == score2_original) {
        form.find('.btn-confirm').show();
        form.find('.btn-rebuttal').hide();
    } else {
        form.find('.btn-confirm').hide();
        form.find('.btn-rebuttal').show();
    }
}

{% endblock %}
