{% extends "frontend/base.html" %}

{% load crispy_forms_tags %}

{% block title %}create{% endblock %}

{% block header %}

<h1>Create Tournament</h1>

{% endblock %}

{% block content %}

<form method="post" action="{% url 'create-tournament' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy-fill"></i> Preview</button>
    <a class="btn btn-link" href="https://github.com/kostrykin/tournaments/wiki/Definition-Examples" target="_blank">Show Examples</a>
</form>

{% endblock %}
