{% extends "frontend/base.html" %}

{% load frontend_extras %}

{% block title %}index{% endblock %}

{% block header %}

<h1>Tournaments</h1>

{% if user.id %}

    <a href="{% url "create-tournament" %}" class="btn btn-outline-dark"><i class="bi bi-plus-lg"></i> Create Tournament</a>

{% endif %}

{% endblock %}

{% block content %}

{% if allstars %}

    <hr>
    <h2>All Stars</h2>

    <div class="row align-items-start">
    {% for results in allstars %}

        <div class="col-4">

            <h3><small class="podium-{{ forloop.counter }}"><strong>{{ forloop.counter | position_to_str }}</strong> Placements</small></h3>

            <ul class="list-inline">
            {% for result in results %}

                <li class="list-inline-item">

                    <i class="bi bi-person"></i> {{ result.user }}

                    <span class="badge badge-pill badge-dark">{{ result.count | allstar_badge }}</span>

                </li>

            {% endfor %}
            </ul>

        </div>

    {% endfor %}
    </div>

{% endif %}

{% if active %}

    <hr>
    <h2>Active</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=active %}

{% endif %}

{% if drafts %}

    <hr>
    <h2>Your Drafts</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=drafts %}

{% endif %}

{% if open %}

    <hr>
    <h2>Open</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=open %}

{% endif %}

{% if finished %}

    <hr>
    <h2>Finished</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=finished %}

{% endif %}

{% endblock %}
