{% extends "frontend/base.html" %}

{% block title %}index{% endblock %}

{% block header %}

<h1>Tournaments</h1>

{% if user.id %}

    <a href="{% url "create-tournament" %}" class="btn btn-outline-dark"><i class="bi bi-plus-lg"></i> Create Tournament</a>

{% endif %}

{% endblock %}


{% block content %}

{% if drafts %}

    <hr>
    <h2>Your Drafts</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=drafts %}

{% endif %}

{% if active %}

    <hr>
    <h2>Active</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=active %}

{% endif %}

{% if open %}

    <hr>
    <h2>Open</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=open %}

{% endif %}

{% if finished %}

    <hr>
    <h2>Finished</h2>
    
    {% include "frontend/tournament-list.html" with tournaments=finished %}

{% endif %}

{% endblock %}
