{% extends "frontend/base.html" %}

{% block title %}Manage Attendees{% endblock %}

{% block header %}
<h1>Manage Attendees</h1>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'manage-participants' pk=tournament.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="participant_names">Attendee Names (one per line)</label>
        <textarea class="form-control" id="participant_names" name="participant_names" rows="10" required>{% for participant in tournament.participants %}{{ participant.name }}
{% endfor %}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Attendees</button>
</form>
{% endblock %}
