{% load frontend_extras %}
{% load capture_tags %}

<div class="tournament-details card bg-light">
<div class="card-body">

    <h4 class="card-title">
        {{ tournament.name }}
        {% if tournament.participants %}
            <span class="badge badge-secondary">{{ tournament.participants.count }} attendee{% if tournament.participants.count > 1 %}s{% endif %}</span>
        {% endif %}
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">Created by {{ tournament.creator }}</h6>

    {% if tournament.participants %}

        <p class="card-text" style="line-height: 1em;"><small>
        <span class="text-muted"><strong>Attendees:</strong></span>
        {% for participant in tournament.participants %}

            <span class="d-inline-block"><i class="bi bi-person"></i> {{ participant }}</span>

        {% endfor %}
        </small></p>

    {% endif %}
    
    <ul class="list-group list-group-flush">
    
        {% for stage in tournament.stages.all %}
        <li class="list-group-item"><small>

            {% capture as stage_name silent %}{{ stage | stage_name:forloop.counter }}{% endcapture %}
        
            {% with stage_type=stage|get_type %}
                {% if stage_type == 'Groups' %}
        
                    {% if stage.max_group_size == 32767 %}
                        {% if stage.played_by|length == 2 %}
                            <h5><i class="bi bi-x-lg"></i> {{ stage_name }}</h5>
                            <p>Play-off.</p>
                        {% else %}
                            <h5><i class="bi bi-table"></i> {{ stage_name }}</h5>
                            <p>Division play.</p>
                        {% endif %}
                    {% elif stage.min_group_size == stage.max_group_size %} 
                        <h5><i class="bi bi-table"></i> {{ stage_name }}</h5>
                        <p>Played in groups of {{ stage.min_group_size }} participants.</p>
                    {% else %}
                        <h5><i class="bi bi-table"></i> {{ stage_name }}</h5>
                        <p>Played in groups of {{ stage.min_group_size }}&ndash;{{ stage.max_group_size }} participants.</p>
                    {% endif %}
        
                    {% if stage.with_returns %}
                        <p>With return matches.</p>
                    {% else %}
                        <p>No return matches.</p>
                    {% endif %}
        
                {% elif stage_type == 'Knockout' %}

                    <h5><i class="bi bi-diagram-2"></i> {{ stage_name }}</h5>
        
                    {% if stage.double_eliminination %}
                        <p>Knockout, double elimination.</p>
                    {% else %}
                        <p>Knockout, single elimination.</p>
                    {% endif %}
        
                {% endif %}
            {% endwith %}
        
            {% if stage.played_by %}
                <p><strong>Played by:</strong></p>
                <ol>
                {% for participants in stage.played_by|parse_participants:tournament %}
                
                    <li>{{ participants }}</li>
                
                {% endfor %}
                </ol>
            {% else %}
                <p><strong>Played by:</strong> All attendees</p>
            {% endif %}
        
        </small></li>
        {% endfor %}
    
        <li class="list-group-item"><small>
        
            <h5><i class="bi bi-trophy"></i> Podium</h5>
            
            <ol>
            {% for participants in tournament.podium_spec|parse_participants:tournament %}
            
                <li>{{ participants }}</li>
            
            {% endfor %}
            </ol>
        
        </small></li>

        {% if buttons != 'none' %}
        <li class="list-group-item">

            {% if buttons %}

                {{ buttons }}

            {% else %}

                {% if tournament.state == 'open' %}

                    {% if tournament|is_joined_by:user %}

                        <a class="btn btn-success {{ button_classes }}" href="{% url 'withdraw-tournament' pk=tournament.id %}" role="button"><i class="bi bi-check-lg"></i> Joined</a>

                    {% elif user.id %}

                        <a class="btn btn-outline-success {{ button_classes }}" href="{% url 'join-tournament' pk=tournament.id %}" role="button">Join</a>

                    {% else %}

                        <p><a href="{% url 'login' %}">Login to join.</a></p>

                    {% endif %}

                    {% if tournament.creator == user %}

                        <a class="btn btn-secondary {{ button_classes }}" href="{% url 'draft-tournament' pk=tournament.id %}" role="button"><i class="bi bi-eye-fill"></i> Published</a>

                        {% if tournament.participations.count >= 3 %}

                            <a class="btn btn-warning {{ button_classes }}" href="{% url 'active-tournament' pk=tournament.id %}" role="button"><i class="bi bi-play-fill"></i> Start</a>

                        {% endif %}

                    {% endif %}

                {% else %}

                    <a class="btn btn-primary {{ button_classes }}" href="{% url 'active-tournament' pk=tournament.id %}" role="button"><i class="bi bi-table"></i> Progress</a>

                {% endif %}

            {% endif %}
        
        </li>
        {% endif %}
    
    </ul>

</div>
</div>
