{% extends "frontend/base.html" %}

{% load crispy_forms_tags %}
{% load capture_tags %}

{% block title %}update{% endblock %}

{% block header %}

<h1>Update Tournament</h1>

{% endblock %}

{% block content %}

{% if not object.published %}

    <form method="post" action="{% url 'update-tournament' pk=object.id %}" class="mb-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit"><i class="bi bi-floppy-fill"></i> Preview</button>
    </form>

    {% capture silent %}
    <a class="btn btn-danger" href="{% url 'delete-tournament' pk=object.id %}" role="button"><i class="bi bi-trash3-fill"></i> Delete</a>
    <a class="btn btn-outline-success" href="{% url 'publish-tournament' pk=object.id %}" role="button">Publish</a>
    {% endcapture %}

    {% include "frontend/tournament-details.html" with tournament=object buttons=capture %}

{% else %}

    {% include "frontend/tournament-details.html" with tournament=object %}

{% endif %}

{% endblock %}
